/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.doporucujeme {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    color: white;
}

.recept-nazev {
    font-size: 18px;
    padding: 10px;
}

.recept-kategorie {
    padding: 10px; 
}

.recept-komentare {
    padding: 10px;
    float: right;
}

.hlavni-recept .recept-nazev {
    font-size: 28px; 
}

.recept-meta {
    display: flex;
    justify-content:space-between;
}

.hlavni-recept {
    flex: 1 1 100%;
    min-height:200px;
    background-image: url("images/burger.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sloupec {
    flex: 1 1 100%;
}

.recept {
    min-height: 90px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept2{
background-image: url("images/sushi.jpg");
background-size:cover;
}

.recept3{
    background-image: url("images/rajcata.jpg"); 
    background-size:cover; 
}
.recept4 {
    background-image: url("images/kure.jpg"); 
    background-size:cover; 
}

.recept5 {
    background-image: url("images/grilovani.jpg");
    background-size:cover;   
}


@media(min-width: 480px) {
.doporucujeme {
        display: flex;
        flex-wrap: wrap;
    }

.hlavni-recept {
    min-height:250px;
    flex: 1 1 100%;
}

.sloupec {
flex: 1 1 50%;
min-height: 180px;
}

.sloupec {
    display: flex;
    flex-wrap: wrap;
}

.recept-nazev {
    font-size: 22px;
    padding: 10px;
}

.hlavni-recept .recept-nazev{
    font-size: 36px; 
}
}

.recept .recept2{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media(min-width: 860px) {
    
    .hlavni-recept {
        min-height:400px;
        flex: 1 1 33.33%;
    }
   
    .recept {
        min-height: 200px;
    }

    .sloupec {
        flex: 1 1 33.33%;
    }

    .recept-nazev {
        font-size: 28px;
        padding: 10px;
    }
    
    .hlavni-recept .recept-nazev{
        font-size: 48px; 
    }
}


